

@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
    src: local('Arial'), url('../../assets/fonts/Arial.woff') format('woff');
  }
    
  
  @font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia'), url('../../assets/fonts/Georgia.woff') format('woff');
  }
  
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 320px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 15px;
  }
  
  h1 {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 32px;
    color: #F1CDB3;
    line-height: 35px;
    font-weight: 400;
    letter-spacing: 0.06em;
  }
  
  h2 {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 25px;
    color: #000000;
    line-height: 32.5px;
  }
  
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 207px;
    height: 52px;
    color: #292929;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: Georgia, serif;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .button:hover {
    background: #FDDCC4;
    color: #292929;
  }
  
  
  
  .background {
    background: url("../../assets/images/start-screen-bg-mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .main-header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 10px 0 10px;
  }
  
  .logo-nav_wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .main-header_logo {
    display: block;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    cursor: pointer;
    text-decoration: none;
  }
  
  .logo_title {
    padding-bottom: 10px;
  }
  
  .logo_description {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    font-weight: 400;
    text-align: center;
  }
  
  .sandwich {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 18px;
    right: 44px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .sandwich_line {
    width: 100%;
    height: 2px;
    background-color: #F1CDB3;
  }
  
  .sandwich.closed {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 22px;
    top: 49px;
    right: 54px;
  }
  
  .sandwich.open {
    width: 30px;
    height: 22px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    z-index: 10;
    top: 49px;
    right: 56px;
  }
  
  .navigation {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #CDCDCD;
    padding-top: 160px;
    padding-right: 15px;
    -webkit-animation: showUp .3s ease;
            animation: showUp .3s ease;
  }
  
  @-webkit-keyframes showUp {
    0% {
      display: block;
      opacity: 0;
    }
    15% {
      opacity: .3;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes showUp {
    0% {
      display: block;
      opacity: 0;
    }
    15% {
      opacity: .3;
    }
    100% {
      opacity: 1;
    }
  }
  
  .navigation_list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navigation_item {
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    text-align: center;
  }
  
  .navigation_item.selected > .navigation_link {
    color: #FAFAFA;
    cursor: default;
  }
  
  .navigation_item.selected > .navigation_link::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 100%;
    height: 3px;
    border-bottom: 3px solid #F1CDB3;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .navigation_link {
    position: relative;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    font-size: 32px;
    line-height: 51px;
    color: #CDCDCD;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .navigation_link:hover {
    color: #FAFAFA;
  }
  
  
  .sandwich.closed + .logo-nav_inner-wrapper > .navigation {
    position: absolute;
    opacity: 1;
    display: none;
  }
  
  .sandwich.open + .logo-nav_inner-wrapper > .navigation {
    display: block;
    position: relative;
    top: 30px;
    background-image: url(../../assets/images/mobile-menu-open-bg.jpg);
  }
  
  .sandwich.open + .logo-nav_inner-wrapper > .logo {
    position: relative;
    top: 30px;
    left: 3%;
  }
  
  .sandwich.closed + .logo-nav_inner-wrapper {
    opacity: 1;
  }
  
  .sandwich.open + .logo-nav_inner-wrapper {
    position: absolute;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url("../../assets/images/mobile-menu-open-bg.jpg");
  }
  
  .offer_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .offer_title {
    margin: 0;
    font-family: Georgia, serif;
    color: #FFFFFF;
    line-height: 32px;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.06em;
    padding-bottom: 42px;
  }
  
  .offer_description {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #CDCDCD;
  }
  
  .offer_button {
    margin: 0 auto;
    margin-top: 42px;
  }
  
  .offer_image {
    margin-top: 105px;
    background-image: url("../../assets/images/start-screen-puppy.png");
    width: 100%;
    height: 271.77px;
    background-size: contain;
    background-position: 100% 100%;
    background-repeat: no-repeat;
  }
  
  
  
  .about_wrapper {
    background: #fff;
    margin-bottom: 42px;
  }
  
  .about {
    max-width: 1200px;
    margin: 0 auto;
    padding: 42px 10px 0 10px;
  }
  
  .about_title {
    padding-bottom: 25px;
    text-align: center;
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    color: #545454;
  }
  
  .about_description {
    padding: 0 15px 0 15px;
    margin: 0;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
    color: #4C4C4C;
  }
  
  .about_image-wrapper {
    padding-top: 41px;
    width: 260px;
    height: 353.6px;
    margin: 0 auto;
  }
  
  .about_image {
    display: block;
    height: 100%;
    width: auto;
  }
  
  .about_description:first-of-type {
    padding-bottom: 22px;
  }
  
  
  
  .friends_wrapper {
    background-image: linear-gradient(to top left, rgb(73, 153, 51), rgba(207, 98, 88, 0.997));
  }
  
  .friends {
    padding: 42px 10px 42px 10px;
  }
  
  .friends_title {
    padding-bottom: 42px;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
  
  .friends_list {
    padding: 0 15px;
    margin: 0;
    list-style: none;
  }
  
  .friends_item {
    display: none;
    margin: 0 auto;
    max-width: 400px;
    opacity: 0;
    background: #FAFAFA;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-radius: 9px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
  }
  
  .friends_item:hover {
    background-color: rgb(107, 176, 66);
    cursor: pointer;
    
  }
  
  .friends_item:hover > .friends_image {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  
  .friends_item:hover > .learn-more_button {
    background: #FDDCC4;
    color: #292929;
    border: none;
  }
  
  .friends_item:hover > .learn-more_button:hover {
    border: 2px solid black;
  }
  
  .friends_item.active_slide {
    display: block;
    -webkit-animation: showSlide .2s linear forwards;
            animation: showSlide .2s linear forwards;
  }
  
  @-webkit-keyframes showSlide {
    0% {
      display: block;
    }
    15% {
      opacity: .3;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes showSlide {
    0% {
      display: block;
    }
    15% {
      opacity: .3;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .friends_image {
    display: block;
    min-width: 270px;
    min-height: 270px;
    max-height: 270px;
    max-width: 270px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .friends_name {
    margin: 0;
    padding-bottom: 30px;
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
  }
  .friends_name:hover {
    color: #fff;
  }
  
  .learn-more_button {
    width: 187px;
    height: 52px;
    margin: 0 auto;
    background: initial;
    border: 2px solid #F1CDB3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .learn-more_button:hover {
    border: none;
  }
  
  .friends_slider-buttons {
    width: 184px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 52px 52px;
    grid-template-columns: 52px 52px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 42px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .friends_button-left {
    width: 52px;
    height: 52px;
    background: url("../../assets/images/button_arrow.png");
    background-size: cover;
    background-position: center center;
    -webkit-transition: background-image 0.3s ease-in-out;
    -o-transition: background-image 0.3s ease-in-out;
    transition: background-image 0.3s ease-in-out;
  }
  
  .friends_button-left:hover {
    background-image: url("../../assets/images/button_arrow_hover.png");
  }
  
  .friends_button-right {
    width: 52px;
    height: 52px;
    background: url("../../assets/images/button_arrow.png");
    background-size: cover;
    background-position: center center;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: background-image 0.3s ease-in-out;
    -o-transition: background-image 0.3s ease-in-out;
    transition: background-image 0.3s ease-in-out;
  }
  
  .friends_button-right:hover {
    background-image: url("../../assets/images/button_arrow_hover.png");
  }
  
  .friends_button {
    width: 260px;
    height: 52px;
    margin: 0 auto;
  }
  
  .friends_item-card-link {
    display: block;
    margin: 0;
    padding: 0;
    color: black;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }
  
  .friends_item-card-link:hover > .friends_image {
    overflow: hidden;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    
  }
  
  
  
  .help_wrapper {
    background: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 42px;
  }
  
  .help {
    max-width: 1200px;
  }
  
  .help_title {
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 42px;
    padding-bottom: 42px;
  }
  
  .help_list {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 140px));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .help_icon {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    padding-bottom: 20px;
  }
  
  .help_name {
    font-family: Georgia, serif;
    margin: 0;
    text-align: center;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
    color: #545454;
  }
  
  
  
  .donation_wrapper {
    background-image: linear-gradient(to top left, rgb(73, 153, 51), rgba(207, 98, 88, 0.997));
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 42px;
  }
  
  .donation {
    margin: 0 auto;
  }
  
  .donation_title {
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    color: #ffffff;
    padding-top: 42px;
    padding-bottom: 20px;
    text-align: center;
  }
  
  .donation_bank {
    font-family: Georgia, serif;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
  }
  
  .donation_link {
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    margin-bottom: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -ms-grid-columns: 45px 1fr;
    grid-template-columns: 45px 1fr;
    -ms-grid-rows: 43px;
    grid-template-rows: 43px;
    text-decoration: none;
    width: 94%;
    max-width: 349px;
    background: #F1CDB3;
    border-radius: 9px;
    cursor: pointer;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }
  
  
  
  .donation_link:hover {
    -webkit-filter: brightness(105%);
            filter: brightness(105%);
  }
  
  .donation_card-image {
    display: block;
    -ms-grid-column-align: end;
        justify-self: end;
    width: 30px;
    height: 23px;
  }
  
  .donation_card-number {
    margin: 0;
    display: inline-block;
    font-family: Georgia, serif;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
    color: #545454;
  }
  
  .donation_legal-info {
    margin: 0;
    margin: 0 auto;
    max-width: 380px;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 42px;
  }
  
  .donation_dog {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 505px;
    margin: 0 auto;
  }
  
  .donation_dog-image {
  width: 100%;
  }
  
  
  
  .main-footer {
    max-width: 1200px;
    margin: 0 auto;
    background: url("../../assets/images/start-screen-bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .main-footer_title {
    margin: 0;
    font-family: Georgia, serif;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 40px;
    font-weight: 400;
  }
  
  .main-footer_list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 0 auto;
  }
  
  .main-footer_item {
    margin: 0;
    padding: 0;
    display: block;
  }
  
  .main-footer_link {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: -webkit-max-content 20px -webkit-max-content;
    -ms-grid-columns: max-content 20px max-content;
    grid-template-columns: -webkit-max-content -webkit-max-content;
    grid-template-columns: max-content max-content;
    grid-column-gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-bottom: 43px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }
  
  .main-footer_link:hover {
    cursor: pointer;
    -webkit-filter: brightness(1.2);
            filter: brightness(1.2);
  }
  
  .main-footer_bottom-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 39px;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  
  .main-footer_text {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
  }
  
  .main-footer_waiting-title {
    margin: 0;
    font-family: Georgia, serif;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    font-weight: 400;
    padding-bottom: 38px;
  }
  
  .main-footer_list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 0 auto;
  }
  
  .main-footer_bottom-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 0 auto;
  }
  
  .main-footer_img-wrapper {
    width: 260px;
    height: 269px;
    margin: 0 auto;
  }
  
  .main-footer_img {
    width: 100%;
  }
  
  
  
  
  
  
  
  
  
  
  @media (min-width: 768px) {
    .background {
      background-image: url("../../assets/images/header-background-768.jpg");
      background-size: contain;
    }
  
    
  
    .main-header {
      padding: 30px 30px 0 30px;
    }
  
    .main-header_logo {
      padding-right: 11.2%;
      min-width: 186px;
    }
  
    .sandwich {
      display: none;
    }
  
    .navigation {
      display: block;
    }
  
    .sandwich.closed + .logo-nav_inner-wrapper {
      opacity: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    
    .sandwich.open + .logo-nav_inner-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      opacity: 1;
      width: initial;
      height: initial;
      top: 0;
      left: 0;
      background-image: none;
    }
  
    .sandwich.closed + .logo-nav_inner-wrapper > .navigation {
      position: relative;
      opacity: 1;
      display: block;
      padding: 0;
      width: 100%;
    }
    
    .sandwich.open + .logo-nav_inner-wrapper > .navigation {
      padding: 0;
      display: block;
      position: initial;
      top: 0;
      left: 0;
      width: 100%;
    }
    
    .sandwich.open + .logo-nav_inner-wrapper > .logo {
      position: relative;
      top: 0;
      left: 0;
    }
  
    .logo-nav_inner-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  
    .navigation_list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding-top: 3px;
    }
  
    .navigation_link {
      font-size: 15px;
    }
  
    .navigation_item {
      padding: 0;
    }
  
    .navigation_item.selected > .navigation_link::after {
      bottom: -6px;
    }
  
    
  
    .offer_text {
      padding-left: 19%;
      position: relative;
    }
  
    .offer_title {
      font-size: 44px;
      line-height: 57px;
      text-align: left;
      letter-spacing: .05px;
    }
  
    .offer_description {
      text-align: left;
      line-height: 24px;
      max-width: 460px;
    }
  
    .offer_button {
      -webkit-transform: translate(-35%);
          -ms-transform: translate(-35%);
              transform: translate(-35%);
    }
  
    .offer_image {
      margin-top: 100px;
      background-image: url("../../assets/images/start-screen-puppy.png");
      width: 100%;
      height: 593px;
      background-size: contain;
      background-position: 88% 100%;
      background-repeat: no-repeat;
    }
  
    
    .about_wrapper {
      padding-bottom: 100px;
    }
  
    .about {
      padding: 80px 169px 0 169px;
    }
    
    .about_title {
      padding-bottom: 25px;
      text-align: left;
      font-size: 35px;
      line-height: 45px;
      letter-spacing: 0.06em;
    }
    
    .about_description {
      padding: 0;
      text-align: initial;
    }
  
    .about_description:first-of-type {
      padding-bottom: 25px;
    }
    
    .about_image-wrapper {
      padding-top: 80px;
      width: 300px;
      height: 408px;
    }  
  
    
  
    .friends {
      padding-top: 81px;
      padding-bottom: 98px;
    }
  
    .friends_title {
      font-size: 35px;
      line-height: 45px;
      padding-bottom: 59px;
    }
  
    .friends_list {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 270px 40px 270px;
      grid-template-columns: 270px 270px;
      grid-gap: 40px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  
    .friends_image {
      height: 270px;
    }
  
    .friends_slider-buttons {
      position: relative;
      width: 100%;
    }
  
    .friends_button-left {
      position: absolute;
      top: -263px;
      left: 2.7%;
      cursor: pointer;
    }
  
    .friends_button-right {
      position: absolute;
      top: -263px;
      right: 2.7%;
      cursor: pointer;
    }
  
    
  
    .help_wrapper {
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 102px;
    }
  
    .help_title {
      padding-top: 80px;
      padding-bottom: 60px;
      font-size: 35px;
      line-height: 45px;
    }
  
    .help_list {
      grid-template-columns: repeat(auto-fill, minmax(180px, 180px));
      grid-column-gap: 50px;
      grid-row-gap: 55px;
    }
  
    .help_icon {
      width: 60px;
      height: 60px;
      padding-bottom: 30px;
    }
  
    .help_name {
      font-size: 20px;
      line-height: 23px;
    }
  
    
  
    .donation_wrapper {
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 98px;
    }
  
    .donation_text-wrapper {
      width: 53.47%;
      margin: 0 auto;
    }
  
    .donation_title {
      padding-top: 81px;
      font-size: 35px;
      line-height: 45px;
      text-align: left;
    }
  
    .donation_bank {
      text-align: left;
      line-height: 17px;
      letter-spacing: 0.06em;
      margin-bottom: 0px;
      padding-bottom: 19px;
    }
  
    .donation_link {
      margin-left: 0;
    }
  
    .donation_card-number {
      font-size: 20px;
      line-height: 23px; 
    }
  
    .donation_legal-info {
      text-align: left;
      max-width: initial;
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 60px;
    }
  
   
  
    .main-footer {
      padding-top: 30px;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      background: url("../../assets/images/footer-bg-768.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  
  
  
    .main-footer_left-wrapper {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1 / 3;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1 / 2;
      padding-left: 14%;
      padding-right: 15px
    }
  
    .main-footer_center-wrapper {
      -ms-grid-column: 3;
      -ms-grid-column-span: 2;
      grid-column: 3 / 5;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1 / 2;
      padding-left: 5.1%;
      padding-right: 35px;
    }
  
    .main-footer_img-wrapper {
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
      grid-column: 1 / 5;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2/3;
    }
  
    .main-footer_title {
      padding-top: 0;
      font-size: 35px;
      line-height: 45px;
      text-align: left;
    }
  
    .main-footer_waiting-title {
      font-size: 35px;
      line-height: 45px;
      text-align: left;
      padding-bottom: 31px;
    }
  
    .main-footer_list {
      margin: 0;
    }
  
    .main-footer_item {
      margin: 0;
    }
  
    .main-footer_link {
      -webkit-box-pack: initial;
          -ms-flex-pack: initial;
              justify-content: initial;
    }
  
    .main-footer_img-wrapper {
      width: 300px;
      height: 310px;
      -webkit-transform: translate(0px, -13px);
          -ms-transform: translate(0px, -13px);
              transform: translate(0px, -13px);
    }
  
    .main-footer_bottom-list .main-footer_item:last-of-type {
      -webkit-transform: translate(0px, -6px);
          -ms-transform: translate(0px, -6px);
              transform: translate(0px, -6px);
    }
  
    
    
    .modal {
      width: 82%;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
    
    .modal_image-wrapper {
      display: block;
      width: 350px;
      height: 350px;
    }
  
    .modal_img {
      width: 100%;
      height: auto;
    }
    
    .modal_name {
      text-align: left;
    }
    
    .modal_breed {
      text-align: left;
    }
    
    .modal_description {
      text-align: left;
    }
    
    .modal_list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    .modal_item {
      font-family: Georgia, serif;
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 17px;
      letter-spacing: 0.06em;
      color: #000000;
      padding-bottom: 6px;
    }
    
    .modal_item::before {
      content: "";
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: #F1CDB3;
      border-radius: 50%;
      -webkit-transform: translate(0px, -3px);
          -ms-transform: translate(0px, -3px);
              transform: translate(0px, -3px);
    }
  }
  
  @media (min-width: 1200px) {
    .background {
      background-image: url("../../assets/images/header-bg-1280.jpg");
      background-size: contain;
    }
  
    
  
    .main-header {
      padding: 60px 40px 0 40px;
      background-image: none;
    }
  
    .main-header_logo {
      padding-right: 0;
    }
  
    .offer_wrapper {
      padding: 0px 40px 0 40px;
    }
  
    .navigation {
      max-width: 443px;
    }
  
    .logo-nav_inner-wrapper {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  
    
    .sandwich.closed + .logo-nav_inner-wrapper > .navigation {
      -webkit-transform: translate(0px, -3px);
          -ms-transform: translate(0px, -3px);
              transform: translate(0px, -3px);
    }
  
    
    .offer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  
    .offer_text {
      padding-top: 0;
      padding-left: 0;
      position: relative;
      top: -10px;
    }
  
    .offer_description {
      min-width: 460px;
      padding-bottom: 42px;
    }
  
    .offer_image {
      margin-top: 63px;
      height: 728px;
      background-position: 98% 100%;
      -webkit-transform: translate(0px, -4px);
          -ms-transform: translate(0px, -4px);
              transform: translate(0px, -4px);
    }
  
    .offer_button {
      margin: 0;
      -webkit-transform: translate(0%);
          -ms-transform: translate(0%);
              transform: translate(0%);
    }
  
   
  
    .about {
      position: relative;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      padding: 78px 0 0 0px;
    }
  
    .about_text {
      -webkit-transform: translate(-5px);
          -ms-transform: translate(-5px);
              transform: translate(-5px);
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      padding-top: 14px;
      max-width: 430px;
    }
    
    .about_title {
      padding-bottom: 25px;
      text-align: left;
      font-size: 35px;
      line-height: 45px;
      letter-spacing: 0.06em;
    }
    
    .about_description {
      padding: 0;
      text-align: initial;
    }
  
    .about_description:first-of-type {
      padding-bottom: 25px;
    }
    
    .about_image-wrapper {
      padding-top: 0;
      width: 300px;
      height: 408px;
      padding-left: 90px;
    }  
  
    
  
    .friends_wrapper {
      padding-left: 40px;
      padding-right: 40px;
    }
  
    .friends {
      max-width: 1200px;
      margin: 0 auto;
    }
  
    .friends_list {
      -ms-grid-columns: 1fr 90px 1fr 90px 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 90px;
      margin: 0 auto;
      min-width: 990px;
      max-width: 990px;
    }
  
    .friends_button-left {
      left: -.8%;
    }
  
    .friends_button-right {
      right: -.8%;
    }
  
    .friends_slider-buttons {
      margin-bottom: 40px;
    }
  
  
    
  
    .help_wrapper {
      padding-left: 40px;
      padding-right: 40px;
    }
  
    .help {
      margin: 0 auto;
    }
  
    .help_list {
      position: relative;
      -ms-grid-columns: 118px 0 118px 0 118px 0 118px 0 118px 0 118px 0 118px 0 118px 0 118px 0 118px;
      grid-template-columns: repeat(10, 118px);
      -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 0;
    }
  
    
  
    .help_item:nth-child(1) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1 / span 2;
    }
  
    .help_item:nth-child(2) {
      -ms-grid-column: 3;
      -ms-grid-column-span: 2;
      grid-column: 3 / span 2;
    }
  
    .help_item:nth-child(3) {
      -ms-grid-column: 5;
      -ms-grid-column-span: 2;
      grid-column: 5 / span 2;
      -webkit-transform: translate(-10px, 0);
          -ms-transform: translate(-10px, 0);
              transform: translate(-10px, 0);
    }
  
    .help_item:nth-child(4) {
      -ms-grid-column: 7;
      -ms-grid-column-span: 2;
      grid-column: 7 / span 2;
      -webkit-transform: translate(-20px, 0);
          -ms-transform: translate(-20px, 0);
              transform: translate(-20px, 0);
    }
  
    .help_item:nth-child(5) {
      -ms-grid-column: 9;
      -ms-grid-column-span: 2;
      grid-column: 9 / span 2;
      -webkit-transform: translate(-10px, 0);
          -ms-transform: translate(-10px, 0);
              transform: translate(-10px, 0);
    }
  
    .help_item:nth-child(6) {
      -ms-grid-column: 2;
      -ms-grid-column-span: 2;
      grid-column: 2 / span 2;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2 / 3;
      -webkit-transform: translate(-31px, 0);
          -ms-transform: translate(-31px, 0);
              transform: translate(-31px, 0);
    }
  
    .help_item:nth-child(7) {
      -ms-grid-column: 4;
      -ms-grid-column-span: 2;
      grid-column: 4 / span 2;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2 / 3;
      -webkit-transform: translate(-51px, 0);
          -ms-transform: translate(-51px, 0);
              transform: translate(-51px, 0);
    }
  
    .help_item:nth-child(8) {
      -ms-grid-column: 6;
      -ms-grid-column-span: 2;
      grid-column: 6 / span 2;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2 / 3;
      -webkit-transform: translate(-34px, 0);
          -ms-transform: translate(-34px, 0);
              transform: translate(-34px, 0);
    }
  
    .help_item:nth-child(9) {
      -ms-grid-column: 8;
      -ms-grid-column-span: 2;
      grid-column: 8 / span 2;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2 / 3;
      -webkit-transform: translate(5px, 0);
          -ms-transform: translate(5px, 0);
              transform: translate(5px, 0);
    }
  
   
  
    .donation_wrapper {
      padding-bottom: 39px;
    }
  
    .donation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      gap: 2.7%;
    }
  
    .donation_dog {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      padding: 0;
      margin: 0;
      -webkit-transform: translate(0, 11px);
          -ms-transform: translate(0, 11px);
              transform: translate(0, 11px);
    }
  
    .donation_dog-image {
      width: 505px;
      height: 261px;
    }
  
    .donation_text-wrapper {
      margin: 0;
      width: 100%;
      max-width: 380px;
    }
  
    
    .main-footer_wrapper {
      background: url("../../assets/images/footer-bg-1280.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    .main-footer {
      padding-top: 56px;
      -ms-grid-columns: 1fr 113px 1fr 113px 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 113px;
      background: none;
      background-repeat: no-repeat;
      background-size: contain;
      padding-left: 40px;
      padding-right: 40px;
      max-height: 300px;
    }
  
    
  
    .main-footer_left-wrapper {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1 / 2;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1 / 2;
      padding-left: 0;
      padding-right: 0;
      max-width: 300px;
      max-height: 290px;
    }
  
    .main-footer_center-wrapper {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2 / 3;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1 / 2;
      padding-left: 0;
      padding-right: 0;
      max-width: 300px;
      max-height: 290px;
    }
  
    .main-footer_img-wrapper {
      -ms-grid-column: 3;
      -ms-grid-column-span: 1;
      grid-column: 3 / 4;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1/2;
    }
  
    .main-footer_title {
      padding-top: 0;
      font-size: 35px;
      line-height: 45px;
      text-align: left;
      padding-bottom: 42px;
    }
  
    .main-footer_waiting-title {
      font-size: 35px;
      line-height: 45px;
      text-align: left;
      padding-bottom: 33px;
    }
  
    .main-footer_list {
      margin: 0;
    }
  
    .main-footer_item {
      margin: 0;
    }
  
    .main-footer_link {
      -webkit-box-pack: initial;
          -ms-flex-pack: initial;
              justify-content: initial;
    }
  
    .main-footer_img-wrapper {
      width: 300px;
      height: 310px;
      -webkit-transform: translate(12px, -16px);
          -ms-transform: translate(12px, -16px);
              transform: translate(12px, -16px);
    }
  
    .main-footer_bottom-list .main-footer_item:last-of-type {
      -webkit-transform: translate(0px, -6px);
          -ms-transform: translate(0px, -6px);
              transform: translate(0px, -6px);
    }
  
     
    
    .modal {
      width: 74%;
      max-width: 952px;
    }
  }
  
 